/* Global Styles */

.accent1 {
  color: #ff6347;
  /* Tomato */
}

.accent2 {
  color: #8a1a22;
  /* Dark Red */
}

.accent3 {
  color: #A71E28;
  /* Lighter Red */
}

.bg-light {
  color: #fbf4f4;
  /* Ivory */
}

.bg-brown {
  color: #3b221c;
  /* rainbow 💖 */
}

.bg-dark {
  color: #1f1f25;
  /* Dark navy/black */
}

/* override bootstrap navbar colors */
.navbar,
.navbar-default {
  background-image: linear-gradient(to bottom, #8a1a22 0, #8a1a22 100%) !important;
  /* override background image gradient w/ flat color */
}