/* Global Styles */

:root {
  --bs-body-font-family: "Times New Roman", serif;
  --primary-color: #A71E28;
  /* Dark Red */
  --secondary-color: #8a1a22;
  /* Lighter Red */
  --accent-color: #ff6347;
  /* Tomato */
  --bg-light-color-rgb: 251, 244, 244;
  --bg-light-color: #fbf4f4;
  /* Ivory */
  --bg-brown-color: #3b221c;
  /* rainbow 💖 */
  --bg-dark-color: #1f1f25;
  /* Dark navy/black */
}

.bg-bar {
  background-color: var(--secondary-color) !important;
}

.text-background {
  background-color: rgba(var(--bg-light-color-rgb), 0.5) !important;
}

.background-tile {
  background-color: var(--bg-light-color);
  background-image: url("./assets/body-background-tile.png");
}

.dark-mask {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--bg-dark-color) !important;
}

.bg-secondary {
  background-color: var(--bg-light-color) !important;
}

.bg-default {
  background-color: var(--bg-brown-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}
.text-black {
  color: var(--bg-dark-color) !important;
}

.navbar {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.vh-50 {
  height: 50vh !important;
}
