/* Global Styles */

.accent1 {
  color: #ff6347;
  /* Tomato */
}

.accent2 {
  color: #8a1a22;
  /* Dark Red */
}

.bg-light {
  color: #fbf4f4;
  /* Ivory */
}

.bg-brown {
  color: #3b221c;
  /* rainbow 💖 */
}

.bg-dark {
  color: #1f1f25;
  /* Dark navy/black */
}
